name: Docker Buildx

on:
  push:
    branches: [ jhon/upgrade-elixir-1.14 ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout ...
        uses: actions/checkout@v3

      - name: Configure QEMU action ...
        uses: docker/setup-qemu-action@master
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Available platforms on QEMU ...
        run: echo ${{ steps.qemu.outputs.platforms }}

      - name: Configure Docker Buildx ...
        id: docker_buildx
        uses: docker/setup-buildx-action@master

      - name: Inspect builder ...
        run: |
          echo "Name:      ${{ steps.buildx.outputs.name }}"
          echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
          echo "Status:    ${{ steps.buildx.outputs.status }}"
          echo "Flags:     ${{ steps.buildx.outputs.flags }}"
          echo "Platforms: ${{ steps.buildx.outputs.platforms }}"

      - name: Login to DockerHub ...
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push ...
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.docker_buildx.outputs.name }}
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: monocolombia/phoenix-alpine:1.14.0
          # Inline-Cache
          # cache-from: type=registry,ref=monocolombia/phoenix-alpine:1.14.0-arch
          # cache-to: type=inline
          # Registry-Cache
          # cache-from: type=registry,ref=monocolombia/phoenix-alpine:1.14.0-buildcache
          # cache-to: type=registry,ref=monocolombia/phoenix-alpine:1.14.0-buildcache,mode=max
          # GitHub cache
          cache-from: type=gha
          cache-to: type=gha,mode=max
